scratch/
external_data/*
!external_data/ancestral_freqs.txt
internal_data/
src/.Rhistory
src/update_EM.R
src/update_squarem.R
src/simplex_functions.R
.DS_Store
exploratory/Treemix/out_stem*
exploratory/.Rhistory
src/loglik_em.R
src/main.R
src/run_em.R
src/*_cache/
src/*_files/